/* stylelint-disable comment-empty-line-before */
/*
Copyright 2023 snegg21

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

body {
  margin: 0;
  padding: 5px;
  background-color: #1a120b;
  color: #e5e5cb;
  font:
    normal 16pt LiberationSerif,
    serif;
  line-height: 1.25;
  text-rendering: optimizelegibility;
  text-align: center;
}

header {
  margin: 10px auto 30px;
  font-size: 20pt;
  font-weight: bold;
}

header,
footer,
main {
  min-width: 300px;
  max-width: 800px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #36261d;
  background-color: #3c2a21;
}

main {
  margin: 20px auto;
}

footer {
  font-size: 12pt;
  margin: 10px auto;
  color: #d5cea3;
}

.show {
  font-style: italic;
}

.edit {
  margin: 20px auto;
}

.input-item {
  margin: 5px auto;
  padding: 5px;
  border-bottom: 1px #1a120b solid;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-item-text,
.text-input,
.button {
  font:
    normal 14pt LiberationSerif,
    serif;
}

.text-input {
  height: 34px;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  text-align: center;
  background-color: #1a120b;
  color: #d5cea3;
  border: 1px #140e09 solid;
  transition: all 200ms ease;
}

@media (width <= 400px) {
  /* stylelint-disable-next-line rule-empty-line-before */
  .text-input {
    width: 94%;
  }

  .input-item-text {
    width: 100%;
  }
}

@media (width > 400px) {
  /* stylelint-disable-next-line rule-empty-line-before */
  .text-input {
    width: 60%;
  }
}

.text-input:hover,
.text-input:active,
.text-input:focus {
  background-color: #1f150d;
  border: 1px #140e09 solid;
}

.button {
  margin: 15px;
  padding: 4px;
  width: 200px;
  height: 34px;
  border-radius: 6px;
  border: 1px solid #1f150d;
  background-color: #1a120b;
  color: #d5cea3;
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease;
}

.button:hover,
.button:active {
  background-color: #0f0b07;
}

.button:active {
  font-weight: bold;
}

.button:focus {
  text-decoration: underline;
}

.button:disabled {
  color: #a5a07f;
}

.error,
.success {
  display: none;
}
