<!-- Copyright 2023 snegg21 -->

<!-- Licensed under the Apache License, Version 2.0 (the "License"); -->
<!-- you may not use this file except in compliance with the License. -->
<!-- You may obtain a copy of the License at -->

<!--     http://www.apache.org/licenses/LICENSE-2.0 -->

<!-- Unless required by applicable law or agreed to in writing, software -->
<!-- distributed under the License is distributed on an "AS IS" BASIS, -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and -->
<!-- limitations under the License. -->
<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/images/logo.svg">
        <link rel="stylesheet" media="all" href="/static/css/index.css">
        <title id="title" data-id="{{ id }}">{{ title }}</title>
    </head>

    <body>
        <header id="header">{{ header }}</header>
        <div id="page-container">
            <main>
                <div class="show" id="content">{{ content }}</div>
                <div class="edit">
                    <div class="inputs-block">
                        <div class="input-item">
                            <span class="input-item-text">Заголовок вкладки</span>
                            <input type="text" id="input-title" class="text-input" value="{{ title }}">
                        </div>
                        <div class="input-item">
                            <span class="input-item-text">Заголовок страницы</span>
                            <input type="text" id="input-header" class="text-input" value="{{ header }}">
                        </div>
                        <div class="input-item">
                            <span class="input-item-text">Текст</span>
                            <input type="text" id="input-content" class="text-input" value="{{ content }}">
                        </div>
                        <div class="input-item">
                            <span class="input-item-text">Подвал</span>
                            <input type="text" id="input-footer" class="text-input" value="{{ footer }}">
                        </div>
                    </div>
                    <button class="button" id="button-edit">Изменить</button>
                    <div class="error" id="error-api">Ошибка</div>
                    <div class="success" id="success-api">готово :)</div>
                </div>
            </main>
        </div>
        <footer id="footer">{{ footer }}</footer>
    </body>

    <script type="module">
    import { edit } from '/static/js/index.js'

    const button = document.getElementById('button-edit')
    button.addEventListener('click', edit)
    </script>

</html>
